//--- All Variables - Related Stuff Included In This Area ---↓

// Ademy Typography
$fontFamily: 'Roboto', sans-serif;
$size: 16px;
$lineHeight: 24px;
$weight: 300;

// Color
$primary-color:     #1054c8;
$text-color:        #333333;
$heading-color:     #333333;
$border-color:      #e5e5e5;

// Additional Color Variable
$white-color:       #ffffff;
$silver-color:      #bbbbbb;
$snow-color:        #fcfcfc;
$gamboge-color:     #dc9b0e;
$zircon-color:      #DAE5E7;
$gainsboro-color:   #dedede;
$wisp-pink_color :  #f3ebe9;
$nobel-color:       #9b9b9b;
$atlantis-color:    #8cc63e;
$charcoal-color:    #454545;
$white-smoke_color: #f2f2f2;
$night-rider_color :#313131;
$dark-gray_color:   #ababab;
$gray-color:        #7e7e7e;

// Slider Color Swatches
$burnt-orange_color:#ff832b;
$raw-umber_color:   #824900;
$black-color:       #000000;
$brown-color:       #a6311f;
$red-color:         #ff0000;

//----Social Link Color Variables ----↓
$facebook-color:    #3b579d;
$twitter-color:     #3acaff;
$google-plus-color: #dd4b39;
$linkedin-color:    #0097bd;
$pinterest-color:   #cb2027;
$instagram-color:   #833ab4;
$skype-color:       #00aff0;
$share-color:       #fe6d4c;
$youtube-color:     #d72525;
$vimeo-color:       #00adef;
