/*----------------------------------------*/
/*  04 - Utilities - Color
/*----------------------------------------*/
/* ---Background Color--- */
.bg-charcoal_color{
    background-color: $charcoal-color;
}
.bg-denim_color{
    background-color: $primary-color;
}
.bg-smoke_color{
    background-color: $white-smoke_color;
}
.bg-white_color{
    background-color: $white-color;
}
.bg-snow_color{
    background-color: $snow-color;
}