/*----------------------------------------*/
/*  15 - Components - Brand
/*----------------------------------------*/
.brand-area{
    padding-top: 95px;
    padding-bottom: 95px;
    .brand-item{
        display: flex;
        justify-content: center;
    }
}