/*----------------------------------------*/
/*  22 - Components - Introduction
/*----------------------------------------*/
.introduction{
    &-area{
        padding-top: 95px;
        padding-bottom: 100px;
    }
    &-img_area{
        background-color: rgba(238,238,238,.8);
        border-radius: 5px;
        margin-right: 50px;
        .inner-img{
            box-shadow: 0 10px 37px 0 rgba(0, 0, 0, .23);
            border-radius: 5px;
            position: relative;
            top: -40px;
            left: 40px;
            .popup-btn{
                @include absCenter;
            }
        }
    }
    &-slider{
        .intro-item{
            .intro-content{
                @include breakpoint(max-md_device){
                    padding-top: 25px;
                }
                > h3{
                    &.heading{
                        padding-bottom: 20px;
                    }
                }
                > p{
                    &.short-desc{
                        color: $dark-gray_color;
                    }
                }
                .list-item_wrap{
                    display: flex;
                    justify-content: space-between;
                    ul{
                        &.list-item{
                            padding-top: 25px;
                            > li{
                                &:not(:last-child){
                                    padding-bottom: 10px;
                                }
                                > a{
                                    @include breakpoint(max-xxs_device){
                                        font-size: 12px;
                                    }
                                    i{
                                        margin-right: 10px;
                                        @include breakpoint(max-xxs_device){
                                            margin-right: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .intro-btn_wrap{
                    padding-top: 30px;
                }
            }
        }
    }
}

/* ---Introduction With Newsletter--- */
.intro-with_newsletter{
    padding-top: 100px;
    padding-bottom: 100px;
}

/* ---Introduction Area Two--- */
.introduction-area-2{
    text-align: center;
    h2{
        &.heading{
            max-width: 75%;
            padding-bottom: 40px;
            margin: 0 auto;
            @include breakpoint(max-xxs_device){
                max-width: 100%;
            }
            > span{
                color: $primary-color;
            }
        }
    }
    .intro-item{
        padding: 30px 20px 36px;
        border-radius: 8px;
        @extend %basetransition;
        @include breakpoint(max-md_device){
            margin-bottom: 30px;
        }
        &:hover{
            box-shadow: 0 21px 21px 0 rgba(0,0,0,.1);
        }
        .intro-img{
            padding-bottom: 20px;
        }
        h2{
            &.title{
                @include typography(24px, 36px);
                padding-bottom: 15px;
                @include breakpoint(lg-device){
                    font-size: 18px;
                }
            }
        }
        p{
            &.short-desc{
                @include typography(15px, 26px);
                color: $nobel-color;
            }
        }
    }
}

/* ---Introduction Area Three--- */
.introduction-area-3{
    padding-top: 95px;
    padding-bottom: 100px;
    .section-wrap{
        text-align: left;
        @include breakpoint(max-md_device){
            padding-top: 20px;
        }
        h2{
            &.heading{
                max-width: 100%;
                padding-bottom: 25px;
                margin: 0;
                @include typography(34px, 48px);
                > span{
                    color: $primary-color;
                }
            }
        }
        p{
            &.short-desc{
                @include typography(15px, 26px);
                color: $nobel-color;
                padding-bottom: 50px;
            }
        }
    }
}

/* ---Introduction Area Four--- */
.introduction-area-4{
    .intro{
       &-item{
           padding: 30px 25px 20px;
           text-align: center;
           @include breakpoint(lg-device){
               padding: 30px 10px 20px;
           }
        } 
        &-icon{
            background-color: $white-color;
            border-radius: 100%;
            width: 120px;
            height: 120px;
            line-height: 120px;
            text-align: center;
            display: block;
            margin: 0 auto 20px;
            position: relative;
        }
        &-content{
            > h3{
                &.title{
                    @include typography(24px, 36px);
                    color: $white-color;
                    padding-bottom: 10px;
                }
            }
            > p{
                &.short-desc{
                    @include typography(14px, 26px);
                    color: $white-color;
                    @include breakpoint(lg-device){
                        font-size: 11px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
    [class*="col-"]{
        &:first-child{
            .intro{
                &-item{
                    background-color: rgba(16,84,200,0.6);
                }
            }
        }
        &:nth-child(2){
            .intro{
                &-item{
                    background-color: rgba(16,84,200,0.7);
                }
            }
        }
        &:nth-child(3){
            .intro{
                &-item{
                    background-color: rgba(16,84,200,0.8);
                }
            }
        }
        &:nth-child(4){
            .intro{
                &-item{
                    background-color: rgba(16,84,200,0.9);
                }
            }
        }
    }
}